<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home 1</title>

    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="../fonts/fonts.css">

    <link rel="stylesheet" href="../styles/style.css">

  </head>
  <body>

    <center>Discount on all products is - 15%</center>
    <hr>
   <b><ul>
      <li>
        <a href="<адрес1>">Home</a>
        <ul>
          <a href="<адрес1.1>"><li>Link1</li></a>
          <a href="<адрес1.2>"><li>Link2</li></a>
          <a href="<адрес1.3>"><li>Link3</li></a>
        </ul>
      </li>
      <li><a href="<адрес2>">Solutions</a></li>
      <li><a href="<адрес3>">Projects</a></li>
      <li><a href="<адрес4>">About Us</a></li>
      <li><a href="<адрес5>">Contact</a></li>
    </ul></b>
      <hr>
     
    <h1>This is the main title for this page</h1>
    <h2>Section 1 - Test</h2>
    Lorem ipsum dolor sit amet  <b>consectetur</b> adipisicing elit. <i>Magnam facere obcaecati alias recusandae necessitatibus sit,</i> aliquid porro vel! Exercitationem, tempore.
    <br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, ullam.
    <br>
    <b>Lorem ipsum dolor sit</b> amet consectetur adipisicing elit. Quasi a esse tempora, sequi quisquam dolor.
    <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, perferendis?
    <br>
    <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, dicta.</small>
   <br>
    <del>Lorem ipsum dolor sit amet consectetur adipisicing elit.</del> Quod praesentium illo debitis suscipit deleniti, veritatis facere laboriosam sequi doloremque impedit expedita?
    <br> <br>
    <q>Lorem ipsum dolor sit amet consectetur.</q>
    <address>Art Rah</address>
    <time>26-04-2022</time>
    <hr>
  
    <h2>Section 2 -Div Cards</h2>
  <div><ins>Div Card</ins>
  <br><br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa cum, eos ducimus iste minus.
  <br><br>
  <b>Price</b>- 150&#36
  <br><br><br>
</div>
<div><ins>Div Card</ins>
  <br><br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa cum, eos ducimus iste minus.
  <br><br>
  <b>Price</b>- 150&#36
  <br><br><br>
</div>
<div><ins>Div Card</ins>
  <br><br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa cum, eos ducimus iste minus.
  <br><br>
  <b>Price</b>- 150&#36
  <br><br><br>
</div>
<div><ins>Div Card</ins>
  <br><br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa cum, eos ducimus iste minus.
  <br><br>
  <b>Price</b>- 150&#36
  <br><br><br>
</div>
  <hr>
  
  <h2>Footer</h2>
  
  <b><ol>
    <li><a href="<адрес1>">Home</a></li>
    <li><a href="<адрес2>">Solutions</a></li>
    <li><a href="<адрес3>">Projects</a></li>
    <li><a href="<адрес4>">About Us</a></li>
    <li><a href="<адрес5>">Contact</a></li>
  </ol></b>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas explicabo dolorem nam dicta blanditiis dolore culpa, sunt fugiat ut possimus ex quidem numquam.</p>
  <center>&copy 2022 Company -Full Cycle App Development Company. All rights reserved</center>

  <script src="../js/main.js"></script>

  </body>
</html>